<div class="register-form" @visibility>
    <h4>Регистрация</h4>
    <!--(ngSubmit)="onSubmit(registerForm)"-->
    <form novalidate  #registerForm='ngForm'>
        <div class='form-group'>
            <input type='text' autocomplete="off" name='name' required placeholder="Имя пользователя" ngModel #name='ngModel' class='form-control'>
            <div class="alert alert-danger" [hidden]='name.valid || name.pristine'>Введите ваше имя</div>
        </div>
        <div class='form-group'>
            <input type='email' autocomplete="off" name='email' required placeholder="Email" ngModel #email='ngModel' class='form-control'>
            <div class="alert alert-danger" [hidden]='email.valid || email.pristine'>Введите email</div>
        </div>
        <div class='form-group'>
            <input type='password' autocomplete="off" name='password' required ngModel #password='ngModel' placeholder="Пароль" class='form-control'>
            <div class="alert alert-danger" [hidden]='password.valid || password.pristine'>Введите пароль</div>
        </div>
        <div class='alert alert-danger' *ngIf="formError">{{formError}}</div>
        <div *ngIf="!registering && !hasAdded">
            <button routerLink='/sign-in' class='btn btn-danger'>Назад</button>
            <button [disabled]='registerForm.invalid' type='submit' class='btn btn-warning'>Регистрация</button>
        </div>
        <div *ngIf="registering && !hasAdded">
            <span class='message'>Процесс регистрации..</span>
            <span><img src='/assets/imgs/loaderIn.gif'></span>
        </div>
        <div *ngIf="hasAdded">
            <span class='message'>Регистрация успешна</span>

        </div>

    </form>
</div>