<h2>Список машин</h2>
<button class="btn btn-primary" (click)='createCar()' [hidden]="!isAdmin">Добавить машину</button>
<table class="table table-striped table-dark" >
    <thead>
    <tr class='row'>
        <th class='col-lg-3 header col-sm-3 col-3'>Марка авто</th>
        <th class='col-lg-3 header col-sm-3 col-3'>Модель</th>
        <th class='col-lg-2 header col-sm-2 col-3'>Цена (USD)</th>
        <th class='col-lg-4 header col-sm-4 col-3'></th>
    </tr>
</thead>
<tbody>
    <tr class='row' *ngFor="let item of CarList">
        <td class='col-lg-3 col-sm-3 col-3'>{{item.name}}</td>
        <td class='col-lg-3 col-sm-3 col-3'>{{item.model}}</td>
        <td class='col-lg-2 col-sm-2 col-3'>{{item.price | currency: 'USD'}}</td>
        <td class='col-lg-4 col-sm-4 col-3' *ngIf="item.id != deleteId" >
            <button class="btn choice permissonBuy btn-warning"  id="buy" (click)='buyCar(item.id)' [disabled]="isAdmin">Купить</button>
            <button class="btn choice btn-sm btn-primary" id="info" (click)='showCarDetail(item.id)'>Инфо</button>
            <button class="btn choice permisson btn-warning" id="rewrite" (click)='editCar(item.id)' [hidden]="!isAdmin">Редактировать</button>
            <button class="btn choice permisson btn-danger"  id="delete" (click)='deleteCarQuestion(item.id)' [hidden]="!isAdmin">Удалить</button>
            
        </td>
        <td class='col-lg-4 col-sm-4 col-3' *ngIf="item.id === deleteId && !isDeleting">
            <button class="btn btn-sm choiced-delete btn-light" (click)='cancelDelete()'>Отмена</button>
            <button class="btn btn-sm choiced-delete btn-danger" (click)='deleteCar(item.id)'>Удалить</button> Удалить безвозвратно?
            <p *ngIf="deleteError">{{deleteError}}</p>
        </td>
        <td class='col-lg-4 col-sm-4 col-3' *ngIf="item.id === deleteId && isDeleting">
            Удаление..
            <img src="/assets/imgs/deleteLoader.gif">
        </td>
       
    </tr>
</tbody>
</table>